html {
	position: relative;
}

body {
	margin-bottom: 120px;
	margin-top: 30px;
	background-image: url(../assets/image/kayu.jpg);
}
hr {
	width: 250px;
	border: 2px solid #666;
}
.about p {
	margin-top: 20px;
	color: #666;
}
section {
	min-height: 600px;
}
.navbar{
	filter: drop-shadow(0px 0px 10px lightblue);

}		
.navbar-brand img{
	width: 50px;
	height: 40px;
	display: block;
	margin-top: -5px;
}
.carousel{
	margin-top: 10px;
 	background-size: cover;
 	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
 	background-image: url(../assets/image/computer.jpeg);
 	height: 610px;
}
.carousel-caption h3{
	font-family: elephant;
	font-size: 35px;
	color: #fff;
	text-shadow: 1px 1px 10px black;
}
.carousel-caption p{
	margin-top:20px;
	font-family: sans-serif;
  	font-weight: 100;
  	font-size: 18px;
  	text-align: center;
  	box-shadow: 1px 1px 10px black;
}
.carousel .item{
    min-height: 600px; 
}
.carousel .item img{
    margin: 0 auto; 
}
.bs-example{
	margin: 20px;
}


h2 {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

h2 {
  color: #666;
  text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.70);
}

.page-scroll{
	margin-top: 5px;
	font-family: Times new Romans;
	font-size: 17px;
	color: green;

}
.progress{
	margin-top: 10px;
}
.skill img {
	margin-top: 0px;
	margin-bottom: 10px;
}

.social li{
	display: inline;
	margin-right: 10px;
}

.social li a {
	text-decoration: none;
}
.img-thumbnail {
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 0px;
	border: 2px solid #666;
	background-color: #fff;
	transition: 1s;
	border-radius: 100px;

}
.col-sm-4:hover img {
	transform: scale(1.1);
	filter: saturate(10%);
	
}

footer {
	position: absolute;
	width: 100%;
	height: 100px;
	bottom: 0;
	left: 0;
	background-color: #000;
	padding-top: 20px;
}

footer p {
	color: #ddd;
	font-size: 1em;
}
